version: '3.8'

services:
  # Base de données MongoDB
  mongo:
    image: mongo:6
    container_name: mon-projet-mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongo_data:/data/db

  # Interface web pour voir les données MongoDB (optionnel)
  mongo-express:
    image: mongo-express
    container_name: mon-projet-mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password
      - ME_CONFIG_MONGODB_URL=mongodb://root:password@mongo:27017/
    depends_on:
      - mongo

volumes:
  mongo_data: